/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Poppins:wght@300;700&display=swap');

/* Style Reset  */
*,
*::after,
*::before {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background: url('./images/background.png') no-repeat no-repeat center;
  background-size: cover;
  position: relative;
  background-color: #161848;
  overflow: hidden;
}

.header__text {
  font-family: 'Inter', sans-serif;
}

.hero {
  font-family: 'Inter', sans-serif;
}

.hero__text {
  font-family: 'Poppins', sans-serif;
}

.hero__instructions {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.39) -213.5%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: inset 0px -1px 11px rgba(255, 255, 255, 0.17),
    inset 0px 2px 0px rgba(255, 255, 255, 0.24);
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
}

.coin__container {
  overflow: hidden;
}

.flare {
  animation-duration: 40s;
  animation-iteration-count: infinite;
  /* animation-name: rotateFlare; */
  animation-timing-function: linear;
  transform: translateX(4%);
}

.coin_pot {
  /* transform: translateX(160%); */
  animation: slideCoinPot 4s ease-in-out both;
}

.star1 {
  animation: star1 5s ease-in-out infinite alternate,
    starMotion 5s linear infinite;
}

.star2 {
  animation: star2 8s ease-in-out 0.5s infinite alternate,
    starMotion 8s linear 0.5s infinite;
}

.star3 {
  animation: star1 10s ease-in-out 3s infinite alternate,
    starMotion 10s linear 3s infinite;
}

.star5 {
  animation: star2 8s ease-in-out 7s infinite alternate,
    starMotion 8s linear 7s infinite;
}

.star6 {
  animation: star1 5s ease-in-out 1s infinite alternate,
    starMotion 5s linear 1s infinite;
}

/* KEYFRAMES */
@keyframes slideCoinPot {
  0% {
    opacity: 0;
    transform: translateY(250%) translateX(160%);
    webkit-transform: translateY(250%) translateX(160%);
  }

  100% {
    opacity: 1;
    transform: translateX(160%);
    webkit-transform: translateX(160%);
  }
}

@-webkit-keyframes rotateFlare {
  from {
    transform: translate(4%) rotate(0deg);
    webkit-transform: translate(4%) rotate(0deg);
  }

  to {
    transform: translate(4%) rotate(-360deg);
    webkit-transform: translate(4%) rotate(0deg);
  }
}

@keyframes rotateFlare {
  from {
    transform: translate(4%) rotate(0deg);
    webkit-transform: translate(4%) rotate(0deg);
  }

  to {
    transform: translate(4%) rotate(-360deg);
    webkit-transform: translate(4%) rotate(0deg);
  }
}

@-webkit-keyframes starMotion {
  0% {
    bottom: -15px;
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    bottom: 35%;
    opacity: 0;
  }
}

@keyframes starMotion {
  0% {
    bottom: -15px;
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    bottom: 35%;
    opacity: 0;
  }
}

@-webkit-keyframes star1 {
  0% {
    margin-left: -20px;
  }

  35% {
    margin-left: 65px;
  }

  100% {
    margin-left: 5px;
  }
}

@keyframes star1 {
  0% {
    margin-left: -20px;
  }

  35% {
    margin-left: 65px;
  }

  100% {
    margin-left: 5px;
  }
}

@-webkit-keyframes star2 {
  0% {
    margin-left: 80px;
  }

  35% {
    margin-left: 0px;
  }

  75% {
    margin-left: 40px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes star2 {
  0% {
    margin-left: 80px;
  }

  35% {
    margin-left: 0px;
  }

  75% {
    margin-left: 40px;
  }

  100% {
    margin-left: 0px;
  }
}

/* END OF KEYFRAMES */
